{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <title>
            following page
        </title>
    </head>
    <body>
        <div>
            <div>
                <h3>the follow page</h3>
            </div>
            <div>
                <form method="POST" action="follow">
                    {% csrf_token %}
                    <input type="hidden" name="username">
                    <div class="btn btn-sm btn-primary" style="background-color: black;">
                        <button type="submit">Follow</button>
                    </div>
                </form>
            </div>
            <div>
                <footer>
                    <script src="js/boots{% static 'trap.min.js' %}"></script>
                </footer>
            </div>
        </div>
    </body>
</html>